[defaults.commands]
command = """eval "$CRAWL_PRODUCTS" """
export-json = "bench-products.json"
min-runs = 5
warmup-runs = 1

[defaults.commands.env]
COMMON_SETUP = """
WOOCOMMERCE="$(nix build .#woocommerce --print-out-paths)"
cd dev
nix run . -- down || true
rm -rf data
SKIP_PLUGINS=true nix run . --impure -- up --detach-on-success --detached-with-tui
cd ..
wp --path="$WPDIR" plugin install --force "$WOOCOMMERCE"
wp --path="$WPDIR" plugin activate woocommerce
eval "$GENERATE_PRODUCTS"
cd "$WPDIR"
wp option update woocommerce_coming_soon no
"""
CRAWL_PRODUCTS = """
URLS="$(mktemp)"
cat > "$URLS" <<EOF
$SERVER_URL/
$SERVER_URL/author/user/
$SERVER_URL/author/user/page/1/
$SERVER_URL/not-found/
$SERVER_URL/sample-page/
$SERVER_URL/shop/
$SERVER_URL/wp-sitemap.xml
EOF

for i in {1..63}; do
    echo "$SERVER_URL/shop/page/$i" >> "$URLS"
done

for i in {1..20}; do
    echo "$SERVER_URL/product-category/product-category-$i/" >> "$URLS"
    for j in {1..5}; do
        echo "$SERVER_URL/product-category/product-category-$i/page/$j/" >> "$URLS"
    done
done

for i in {1..1000}; do
    echo "$SERVER_URL/product/sample-product-$i/" >> "$URLS"
done

siege --benchmark --no-parser --internet -c 50 -r 100 -f "$URLS"
rm "$URLS"
"""
GENERATE_PRODUCTS = """
wp --path="$WPDIR" eval-file src/generate-products.php
"""
