[defaults.commands]
command = """eval "$CRAWL_PARALLEL" """
cleanup = """
cd dev
nix run . -- down || true
"""
export-json = "bench.json"
warmup-runs = 2

[defaults.commands.env]
ATEC_CACHE_APCU_SETUP = '''
ATEC_CACHE_APCU="$(nix build .#atec-cache-apcu --print-out-paths)"
eval "$COMMON_SETUP"
wp plugin install --force "$ATEC_CACHE_APCU"
wp plugin activate atec-cache-apcu

driver_file="wp-content/plugins/atec-cache-apcu/install/object-cache-driver.inc"
target="wp-content/object-cache.tmp"

cp wp-content/plugins/atec-cache-apcu/install/object-cache.php "$target"

php -r '
    $driver = file_get_contents($argv[1]);
    $driver = str_replace(["<?php\n",">?"], "", $driver);
    $text = file_get_contents($argv[2]);
    $text = str_replace("/* OC INSERT DRIVER */", $driver, $text);
    file_put_contents($argv[2], $text);
' "$driver_file" "$target"

mv "$target" wp-content/object-cache.php
'''
COMMON_SETUP = """
cd dev
nix run . -- down || true
rm -rf data
nix run . --impure -- up --detach-on-success --detached-with-tui
cd ../"$WPDIR"
"""
CRAWL_PARALLEL = """
URLS="$(mktemp)"
cat > "$URLS" <<EOF
$SERVER_URL/
$SERVER_URL/author/user/
$SERVER_URL/author/user/page/1/
$SERVER_URL/category/uncategorized/
$SERVER_URL/category/uncategorized/page/1/
$SERVER_URL/hello-world/
$SERVER_URL/not-found/
$SERVER_URL/sample-page/
$SERVER_URL/wp-sitemap.xml
EOF

siege --benchmark --no-parser --internet -c 50 -r 100 -f "$URLS"
rm "$URLS"
"""
EAC_OBJECT_CACHE_SETUP = '''
EAC_OBJECT_CACHE="$(nix build .#eac-object-cache --print-out-paths)"
eval "$COMMON_SETUP"
wp plugin install --force "$EAC_OBJECT_CACHE"
wp plugin activate eacobjectcache
cp wp-content/plugins/eacobjectcache/src/object-cache.php wp-content
'''
GET_HOME_PARALLEL = """
hey -h2 -n 500 "$SERVER_URL"
"""
LITESPEED_CACHE_SETUP = """
LITESPEED_CACHE="$(nix build .#litespeed-cache --print-out-paths)"
eval "$COMMON_SETUP"
wp plugin install --force "$LITESPEED_CACHE"
wp plugin activate litespeed-cache
"""
LITESPEED_CACHE_MEMCACHED_SETUP = """
eval "$LITESPEED_CACHE_SETUP"
cp wp-content/plugins/litespeed-cache/lib/object-cache.php wp-content/
wp option set litespeed.conf.cache ''
wp option set litespeed.conf.object 1
wp option set litespeed.conf.object-admin 1
wp option set litespeed.conf.object-host localhost
wp option set litespeed.conf.object-kind ''
wp option set litespeed.conf.object-life 360
wp option set litespeed.conf.object-persistent 1
wp option set litespeed.conf.object-port 11212
wp option set litespeed.conf.object-transients 1
wp cache flush
"""
LITESPEED_CACHE_REDIS_SETUP = """
eval "$LITESPEED_CACHE_SETUP"
cp wp-content/plugins/litespeed-cache/lib/object-cache.php wp-content/
wp option set litespeed.conf.cache 1
wp option set litespeed.conf.object 1
wp option set litespeed.conf.object-admin 1
wp option set litespeed.conf.object-host localhost
wp option set litespeed.conf.object-kind 1
wp option set litespeed.conf.object-life 360
wp option set litespeed.conf.object-persistent 1
wp option set litespeed.conf.object-port 6379
wp option set litespeed.conf.object-transients 1
wp cache flush
"""
REDIS_CACHE_SETUP = """
REDIS_CACHE="$(nix build .#redis-cache --print-out-paths)"
eval "$COMMON_SETUP"
wp plugin install --force "$REDIS_CACHE"
wp plugin activate redis-cache
wp redis enable
wp cache flush
"""
SERVER_URL = "http://127.0.0.1:8888"
SNAPCACHE_SETUP = """
SNAPCACHE="$(nix build .#snapcache --print-out-paths)"
eval "$COMMON_SETUP"
wp plugin install --force "$SNAPCACHE"/snapcache.zip
wp plugin activate snapcache
wp snapcache memcached install --force
wp cache flush
"""
SQLITE_OBJECT_CACHE_SETUP = """
SQLITE_OBJECT_CACHE="$(nix build .#sqlite-object-cache --print-out-paths)"
eval "$COMMON_SETUP"
wp plugin install --force "$SQLITE_OBJECT_CACHE"
wp plugin activate sqlite-object-cache
wp cache flush
wp sqlite-object-cache flush
"""
WPDIR = "dev/data/wordpress1"
WP_REDIS_SETUP = """
WP_REDIS="$(nix build .#wp-redis --print-out-paths)"
eval "$COMMON_SETUP"
wp plugin install --force "$WP_REDIS"
wp plugin activate wp-redis
wp redis enable
wp cache flush
"""

[commands.atec-cache-apcu]
setup = """
export EXTRA_PHP_EXTENSIONS="apcu"
eval "$ATEC_CACHE_APCU_SETUP"
"""
tags = ["apcu"]

[commands.eac-object-cache-apcu]
setup = """
export EXTRA_PHP_EXTENSIONS="apcu"
eval "$EAC_OBJECT_CACHE_SETUP"
wp config set --raw EAC_OBJECT_CACHE_USE_DB false --anchor=EOF
"""
tags = ["apcu"]

[commands.eac-object-cache-apcu-sqlite-memopt]
setup = """
export EXTRA_PHP_EXTENSIONS="apcu sqlite3"
eval "$EAC_OBJECT_CACHE_SETUP"
wp config set --raw EAC_OBJECT_CACHE_OPTIMIZE_MEMORY true --anchor=EOF
"""
tags = ["apcu", "sqlite"]

[commands.litespeed-memcached]
# Litespeed is consistently slow, so let's spend less time
# measuring just how slow it is.
min-runs = 5
setup = """
export EXTRA_PHP_EXTENSIONS="memcached"
eval "$LITESPEED_CACHE_MEMCACHED_SETUP"
"""
tags = ["memcached"]
warmup-runs = 1

[commands.litespeed-redis]
# Litespeed is consistently slow, so let's spend less time
# measuring just how slow it is.
min-runs = 5
setup = """
export EXTRA_PHP_EXTENSIONS="redis"
eval "$LITESPEED_CACHE_REDIS_SETUP"
"""
tags = ["redis"]
warmup-runs = 1

[commands.no-cache-plugins]
setup = """eval "$COMMON_SETUP" """

[commands.redis-cache]
setup = """
export EXTRA_PHP_EXTENSIONS="redis"
eval "$REDIS_CACHE_SETUP"
"""
tags = ["redis"]

[commands.snapcache-memcached]
setup = """
export EXTRA_PHP_EXTENSIONS="memcached"
eval "$SNAPCACHE_SETUP"
"""
tags = ["memcached", "snapcache"]

[commands.sqlite-object-cache]
setup = """
export EXTRA_PHP_EXTENSIONS="sqlite3"
eval "$SQLITE_OBJECT_CACHE_SETUP"
"""
tags = ["sqlite"]

[commands.sqlite-object-cache-apcu]
setup = """
export EXTRA_PHP_EXTENSIONS="apcu sqlite3"
eval "$SQLITE_OBJECT_CACHE_SETUP"
wp config set --raw WP_SQLITE_OBJECT_CACHE_APCU true --anchor=EOF
"""
tags = ["apcu", "sqlite"]

[commands.wp-redis]
setup = """
export EXTRA_PHP_EXTENSIONS="redis"
eval "$WP_REDIS_SETUP"
"""
tags = ["redis"]

[plots.whisker]
file = "plot-whisker.png"
type = "whisker"
